In [3]:
numbers=[1,2,3,4,5,6,7]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [11]:
def factorial(num):
    fac=1
    for i in range(1,num+1):
        fac=fac*i
    return fac

In [12]:
numbers=[1,2,3,4,5,6,7]
facList=list(map(factorial,numbers))
print(facList)

[1, 2, 6, 24, 120, 720, 5040]

In [13]:
words=['apple','banana','orange']
list(map(str.upper,words))

['APPLE', 'BANANA', 'ORANGE']

In [14]:
string=['1','2','3','4','5','6']
list(map(int,string))

[1, 2, 3, 4, 5, 6]

In [15]:
## Mutiple Iterable On Map
ls1=[1,2,3]
ls2=[4,5,6]
ls3=list(map(lambda x,y:x+y,ls1,ls2))
print(ls3)

[5, 7, 9]

In [17]:
def getName(person):
    return person['name']

In [18]:
persons=[
    {'name':'ahsaan','age':21},
    {'name':'hashir','age':22},
    {'name':'mannan','age':20}
]
names=list(map(getName,persons))
names=list(map(str.upper,names))
print(names)

['AHSAAN', 'HASHIR', 'MANNAN']